.grantee-name {
	font-size: 3em;
	font-weight: 600;
}

.grantee-age {
	font-size: 2em;
	padding-left: 1em;
	color: #7b7b7b;
	font-weight: 300;
}

.blood-types {
	margin: 1em 0;
}

.blood-needed { 
	font-size: 1.3em;
	color: #7b7b7b;
}

.donation-limit-date {
	font-size: 1.2em;
	color: #333;
	margin-top: 10px;
	font-weight: 500;
}

.where-to-donate {
	font-size: 2em;
	margin-bottom: 10px;
}

.ask-donation-btn {
	background-color: #e40406 !important;
	background: 0;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
}

.ask-donation-btn:hover {
	color: #fff;
	background-color: #c50305 !important;

}