.title {
	text-align: center;
	font-weight: 300;
	font-size: 2.6em;
}

.hospital-hide {
	display: none;
}

.centered {
	text-align: center;
}

.post-btn {
	font-size: 25px;
    color: white;
    background: #e40406;
}

.