
.grantee-card {
	height: 15rem;
	background-color: grey;
	font-size: 1.5rem;
	margin-top: 3rem;
}

.grantee-img {
	width: 15rem;
	height: auto;
}

.imgContainer {
	display: flex;
}

.grantee-nameContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.grantee-name {
	font-size: 2rem;
	font-weight: 700;
}

.grantee-age {
	font-size: 2rem;
}

.grantee-bloodType {
	font-weight: 700;
}

.grantee-remainingTime {
	margin-top: 1.5rem;
}

.completedPercentage {
	text-align: center;
	margin-top: 3rem;
}