body {
    background-color: #EEEEEE;
}

.filters {
    position: fixed;
    padding-left: 2rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.75rem;
}

.filtersTitle {
    font-weight: 600;
    font-size: 2.5rem;
}

.applyBtn {
    background-color: #e40406 !important;
    background: 0;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.applyBtn:hover {
    color: white;
    font-size: 1.5rem !important;
    background-color: #c50305 !important;
    letter-spacing: 1px;
	
}

.applyBtnContainer {
    margin-top: 2rem;
}

.nearContainer {

}

.titlecontainer {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.pageTitle {
    font-weight: 400;
    /*color: #e40406;*/
    font-size: 3.5rem;
    text-align: center;
}

.grantee-card {
	height: 18rem;
	background-color: white;
    font-size: 1.5rem;
	padding-left: 1.5em;
}

.grantee-card:hover {
    height: 18rem;
    background-color: #DDDDDD;
    font-size: 1.5rem;
    cursor: pointer;
	transition: all 0.2s;
}

.cardInfoContainer {
    /*padding-left: 3rem;*/
    padding-right: 2rem;
}

.grantee-img {
    width: auto;
	height: 14.5rem;
}

.imgContainer {
	display: flex;
}

.grantee-nameContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.grantee-name {
	font-size: 3rem;
	font-weight: 700;
}

.ageContainer{
    display: flex;
    justify-content: flex-end;
}

.grantee-age {
	font-size: 2rem;
    color: #7b7b7b;
}

.grantee-bloodType {
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}

.percentageContainer {
    display: flex;
    justify-content: flex-end;
}

.completedPercentage {
	text-align: center;
	margin-top: 3rem;
    font-size: 3.5rem;
}

.grantee-hospital {
    font-size: 1.7rem;
    font-style: italic;
}